

.navbar {
    background-color: #8ddc8c;
}

#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    
}

.small-logo {
    height: 50px;
}

.gameCard {
    box-shadow: 0 0 4px 1px #dddddd;
}

.gameCard:hover {
    border-color: #208a00;
    box-shadow: 0 0 4px 1px #058d00;
}